.asteriskField
{
    display: none;
}
form .alert ul li
{
    list-style: none;
}
form .alert ul
{
    padding: 0;
    margin: 0;
}
body
{
    /*background-image: url("../img/background.jpg");*/
    background-color: white;
}

footer
{
    background: darkturquoise;
    clear: both;
    position: relative;
    padding: 20px 0;
}
footer .container {
   position: relative;
 }

.social
{
    position: absolute;
    top: 12px;
    right: 0;
}
.social li
{
    float: left;
    margin-left: 25px;
}
.social a[href*="instagram.com"]
{
    background-image: url("../img/instagram.jpg");
    /*Achar uma imagem melhor para logo do insta*/
}
.social a[href*="facebook.com"]
{
    background-image: url("../img/facebook.png");
}

.social a {
   /* tamanho da imagem */
   height: 32px;
   width: 32px;

   /* image replacement */
   display: block;
   text-indent: -9999px;
 }

ul .navbar-nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: pink;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: paleturquoise;
  color: black;
}

.navbar, .navbar:hover, .dropdown-menu
{
    color:#000!important;
    background-color:darkturquoise!important
}