.asteriskField
{
    display: none;
}
form .alert ul li
{
    list-style: none;
}
form .alert ul
{
    padding: 0;
    margin: 0;
}
body
{
    background-image: url("../img/background2.jpg");
}

footer
{
    background: skyblue;
    clear: both;
    position: relative;
    padding: 20px 0;
}
footer .container {
   position: relative;
 }

.social
{
    position: absolute;
    top: 12px;
    right: 0;
}
.social li
{
    float: left;
    margin-left: 25px;
}
.social a[href*="instagram.com"]
{
    background-image: url("../img/instagram.jpg");
    /*Achar uma imagem melhor para logo do insta*/
}
.social a[href*="facebook.com"]
{
    background-image: url("../img/facebook.png");
}

.social a {
   /* tamanho da imagem */
   height: 32px;
   width: 32px;

   /* image replacement */
   display: block;
   text-indent: -9999px;
 }
