{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if success is not None %}
<div class="alert alert-success" role="alert">
    {{ success }}
</div>
{% endif %}

{% if user.is_authenticated and user.get_rank == 'Decana' or user.get_rank == 'Semi-Decana'  %}
<p>
    Selecione o mês que deseja visualizar:
</p>
<!-- TODO -->
<!-- Colocar isso tudo na mesma linha -->
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="hidden" name="action" value="selectMonth">
    <button type="submit" class="btn btn-secondary">Selecionar</button>
</form>
<br>

{% if mes is not None %}
<h1>Relação de pagamentos da caixinha </h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Moradora</th>
            <th scope="col">Valor</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for user, pago in usersPago %}
        <tr>
            <td>{{ user.nome }}</td>
            <td>{{ valor|floatformat:"2" }}</td>
            <td>
                {% if not pago %}
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="setPaid">
                    <input type="hidden" name="id_mes" value="{{ mes }}">
                    <input type="hidden" name="id_user" value="{{ user.id }}">
                    <button type="submit" class="btn btn-success"
                        onclick="return confirm('Tem certeza que deseja considerar isto como pago?')">Pagar</button>
                </form>
                {% else %}
                <strong>✓</strong>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}
{% else %}
Você não tem permissão para acessar esta página.
{% endif %}
{% endblock %}