{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    {% if user.is_authenticated %}
        <h1>Caixa</h1>
        <p>
            Esta é a página da caixinha.
        </p>
    
        <p>
            <!-- TODO -->
            <!-- Colocar aqui um quadrinho flash de Sucesso (fundo verdinho) -->
            <div>
                {{ success }}
            </div>
            
            <!-- TODO -->
            <!-- Colocar aqui um quadrinho flash de erro (fundo vermelho) -->
            <div>
                {{ error }}
            </div>
        </p>

        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
    		<button type="submite" class="btn btn-primary">Cadastrar conta</button>
        </form>

    {% else %}
        <h1>Caixinha</h1>
        Você não tem permissão para acessar esta página.
    {% endif %}
{% endblock %}