{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    {% if user.is_authenticated %}
        <h1>Caixa</h1>
        <p>
            Esta é a página da caixinha.
        </p>
    
        <p>
            {% if success is not None%}
                <div class="alert alert-success" role="alert">
                    {{ success }}    
                </div>
            {% endif %}
            {% if error is not None%}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
        </p>

        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
    		<button type="submite" class="btn btn-primary">Cadastrar conta</button>
        </form>
        <br>
    {% else %}
        <h1>Caixinha</h1>
        Você não tem permissão para acessar esta página.
    {% endif %}
{% endblock %}