{% extends 'base.html' %}

{% block content %}
    {% load static %}

    <h1>Nossa Casinha</h1>
    <div class="holder">
        <div class="imagem" data-title="Cozinha totalmente equipada">
            <img src="{% static "/img/cozinha.jpeg" %}" alt="Cozinha da república Peça Rara" width="500px" height="242px">
        </div>
        <div class="imagem" data-title="Sala de estar">
            <img src="{% static "/img/sala.jpeg" %}" alt="Sala da república Peça Rara" width="500px">
        </div>
    </div>
    <div class="holder">
        <div class="imagem" data-title="Quarto duplo 1">
            <img src="{% static "/img/duploDentro.jpeg" %}" alt="Quarto duplo 1 da república Peça Rara" width="500px" height="317px">
        </div>
        <div class="imagem" data-title="Quarto duplo 2">
            <img src="{% static "/img/duploFora.jpeg" %}" alt="Quarto duplo 2 da república Peça Rara" width="500px">
        </div>
    </div>
    <div class="holder">
        <div class="imagem" data-title="Quarto Suíte visão 1">
            <img src="{% static "/img/suite1.jpeg" %}" alt="Quarto Suíte visão 1 da república Peça Rara" width="500px" height="350px">
        </div>
        <div class="imagem" data-title="Quarto Suíte visão 2">
            <img src="{% static "/img/suite2.jpeg" %}" alt="Quarto Suíte visão 2 da república Peça Rara" width="500px" height="350px">
        </div>
    </div>
    <div class="holder">
        <div class="imagem" data-title="Banheiro Suíte">
            <img src="{% static "/img/Banheiro suíte.jpeg" %}" alt="Quarto Individual da república Peça Rara" width="500px" height="400px">
        </div>
        <div class="imagem" data-title="Banheiro Social">
            <img src="{% static "/img/banheiro social.jpeg" %}" alt="Banheiro social da república Peça Rara" width="500px" height="400px">
        </div>
    </div>
    <div class="holder">
        <div class="imagem" data-title="Quarto Individual">
            <img src="{% static "/img/quartoAgregada.jpeg" %}" alt="Quarto Individual da república Peça Rara" width="500px" height="300px">
        </div>
    </div>
{% endblock %}