<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>República Peça Rara</title>
</head>
<body>
    <h1>Peça Rara</h1>
    <a href="{% url 'index' %}">Home</a> / 
    <a href="{% url 'login' %}">Login</a> /
    <a href="{% url 'cadastro' %}">Cadastro</a> /
    <a href="{% url 'hino' %}">Hino</a> /
    <a href="{% url 'caixa' %}">Caixa</a>
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>